*{
box-sizing:border-box;
}

body{

margin:0;

background:#171411;

color:#f2ead8;

font-family:Georgia,serif;

display:flex;

justify-content:center;

padding:40px;

}

.game{

width:100%;

max-width:750px;

background:#2a241d;

padding:30px;

border:2px solid #7d5c31;

border-radius:12px;

box-shadow:0 0 25px black;

}

h1{

text-align:center;

color:#d8b16d;

margin-top:0;

}

#playerBar{

margin-bottom:20px;

padding:15px;

border-bottom:1px solid #555;

}

#story{

font-size:20px;

line-height:1.6;

min-height:180px;

margin-bottom:20px;

}

button{

width:100%;

padding:15px;

margin-top:12px;

font-size:17px;

background:#4b3621;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

transition:.25s;

}

button:hover{

background:#6b4a2b;

}
